.main-page {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    padding: 2rem;
    margin: 2rem auto;
}

.display-5 {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 700;
}

.lead {
    font-size: 1.5rem;
    color: #666;
}
