.navbar {
    background-color: #00a698;
    padding: 1rem;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
}

.nav-link {
    font-size: 1.2rem;
    color: #fff;
    margin-right: 1rem;
}

.nav-link:hover {
    color: #ffc107;
}
